<a href="https://colab.research.google.com/github/Simran-13/simran.18cse064/blob/main/DMDW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lab-**1** (Basic Commands in Python)

In [18]:
a=5
b=10
print(a+b)

15

In [19]:
print?

In [20]:
n_num = [17, 17, 8, 9, 9]
n=len(n_num)
s=sum(n_num)
mean=s/n
print("Mean is",mean)

Mean is 12.0

In [21]:
n_num = [17, 17, 8, 9, 9]
n=len(n_num)
n_num.sort()
if n%2==0:
  m1=n_num[n//2]
  m2=n_num[n//2-1]
  median=(m1+m2)/2
else:
  median=n_num[n//2]
print("Median is",median)

Median is 9

In [22]:
from collections import Counter 

n_num = [17, 17, 8, 9, 9]
n = len(n_num) 
  
data = Counter(n_num) 
get_mode = dict(data) 
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))] 
  
if len(mode) == n: 
    get_mode = "No mode found"
else: 
    get_mode = "Mode is / are: " + ', '.join(map(str, mode)) 
      
print(get_mode)

Mode is / are: 17, 9

In [23]:
def variance(data):
     n = len(data)
     mean = sum(data) / n
     deviations = [(x - mean) ** 2 for x in data]
     variance = sum(deviations) / (n-1)
     return variance
variance([17, 17, 8, 9, 9, 2, 2, 2, 5, 5])

32.044444444444444

In [24]:
import math
def variance(data):
     n = len(data)
     mean = sum(data) / n
     return sum((x - mean) ** 2 for x in data) / (n -1)


def stdev(data):
     var = variance(data)
     std_dev = math.sqrt(var)
     return std_dev
stdev([17, 17, 8, 9, 9, 2, 2, 2, 5, 5])

5.660781257427675

In [26]:
L = [1, "a" , "simran_kumari" , 1+2] 
print (L) 
L.append(6) 
print (L)
L.pop() 
print (L) 
print (L[1])

[1, 'a', 'simran_kumari', 3]
[1, 'a', 'simran_kumari', 3, 6]
[1, 'a', 'simran_kumari', 3]
a

In [27]:
tup = (1, "a", "simran_kumari", 1+2) 
print(tup) 
print(tup[1])

(1, 'a', 'simran_kumari', 3)
a

In [28]:
month={1:'JAN',2:'FEB',3:'MAR',4:'APR',5:'MAY',6:'JUNE',7:'JULY',8:'AUG',9:'SEP',10:'OCT',11:'NOV',12:'DEC'}
print(month[1],month[3])
print(month)

JAN MAR
{1: 'JAN', 2: 'FEB', 3: 'MAR', 4: 'APR', 5: 'MAY', 6: 'JUNE', 7: 'JULY', 8: 'AUG', 9: 'SEP', 10: 'OCT', 11: 'NOV', 12: 'DEC'}